nav {
  #bookstore-icon {
    display: inline-block;
    height: 20px;
  }
  span {
    margin-left: 10px;
  }
}

div .add-book {
  background-color: #e7e7e7;
  color: #777;
  margin-top: 50px;
  margin-left: -275px;
  position: absolute;
  width: 350px;
  padding: 15px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  button {
    float: right;
  }
}

.book-collection {
  padding-left: 0px;

  .list {
    border-bottom: 1px solid #e5e5e5;

    &.item {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;

      .image {
        float: left;

        &.thumbnail {
          margin-bottom: 0px;
        }
      }
      .description {
        display: inline-block !important;
        height: 60px;
        padding-top: 10px;
        margin-left: 10px;
      }
      &.active {
        padding-top: 10px;
        padding-bottom: 10px;

        .description {
          height: 160px;
          padding-top: 20px;
          margin-left: 20px;
        }

        .remove {
          display: inline-block !important;
          float: right;
        }
      }
    }
  }
}
