nav {
  #bookstore-icon {
    display: inline-block;
    height: 20px;
  }
  span {
    margin-left: 10px;
  }
}

div .add-book {
  background-color: #e7e7e7;
  color: #777;
  margin-top: 50px;
  margin-left: -275px;
  position: absolute;
  width: 350px;
  padding: 15px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  button {
    float: right;
  }

  #rating-label {
    margin: 0px;
  }

  .star-rating.rating-active {
    line-height: 51px;
  }
}

.book-collection {

  .list {
    border-bottom: 1px solid #e5e5e5;

    &.item {
      width: 100%;
      padding: 7px 10px;

      .image {
        float: left;

        &.thumbnail {
          margin-bottom: 0px;
        }
      }
      .description {
        display: inline-block !important;
      }

      &.inactive {
        display: inline-block;

        .description {
          height: 60px;
          padding: 15px 15px;

          .author {
            font-size: 14px;
          }
          .title {
            font-size: 18px;
            font-weight: bold;
          }
        }

        .bootstrap-star-rating {
          float: right;
          margin-top: 8px;

          .rating-disabled {
            cursor: auto;
          }
        }
      }
      &.active {
        padding-top: 10px;
        padding-bottom: 10px;

        .description {
          height: 160px;
          padding: 10px 20px;

          .author {
            font-size: 14px;
          }
          .title {
            display: block;
            font-size: 22px;
            font-weight: bold;
            line-height: 18px;
          }
          .isbn {
            color: darkgrey;
          }
        }

        .remove {
          display: inline-block !important;
          float: right;
        }
      }
    }
  }
}
