// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

nav {
  #bookstore-icon {
    display: inline-block;
    height: 20px;
  }
  span {
    margin-left: 10px;
  }
}

div .add-book {
  background-color: #e7e7e7;
  color: #777;
  margin-top: 50px;
  margin-left: -275px;
  position: absolute;
  width: 350px;
  padding: 15px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  button {
    float: right;
  }
}

.book-collection {
  padding-left: 0px;

  .list {
    border-bottom: 1px solid #e5e5e5;

    &.item {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;

      .image {
        float: left;

        &.thumbnail {
          margin-bottom: 0px;
        }
      }
      .description {
        display: inline-block !important;
        height: 60px;
        padding-top: 10px;
        margin-left: 10px;
      }
      &.active {
        padding-top: 10px;
        padding-bottom: 10px;

        .description {
          height: 160px;
          padding-top: 20px;
          margin-left: 20px;
        }

        .remove {
          display: inline-block !important;
          float: right;
        }
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
}
