<div class="header">
  <h3 class="text-muted">Meine Sammlung</h3>
</div>

<div class="book-collection" ng-repeat="book in books">
  <div class="list item" ng-click="setActive(book.id)" ng-hide="isActive(book.id)">
    <div class="image thumbnail">
      <img data-src="holder.js/40x50/random" holder-fix>
    </div>
    <div class="description">
      {{ book.title }}
    </div>
  </div>

  <div class="list active item" ng-show="isActive(book.id)">
    <div class="image thumbnail">
      <img data-src="holder.js/120x150/random" holder-fix>
    </div>

    <div class="description">
      <p class="author">
        <strong>{{ book.title }}</strong><br/>
        von {{ book.author}}
      </p>

      <p class="isbn">
        {{ book.isbn }}
      </p>

      <p class="rating">
        {{ book.rating }}
      </p>
    </div>

    <div class="remove">
      <button type="button" class="btn btn-danger btn-xs" ng-click="console.log('Remove this book')">
        <span class="glyphicon glyphicon-remove"></span> Entfernen
      </button>
    </div>
  </div>
</div>
