<div class="book-collection" ng-repeat="book in store.books">
  <div class="list item" ng-click="store.setActive(book.id)" ng-hide="store.isActive(book.id)">
    <div class="image thumbnail">
      <img data-src="holder.js/40x50/random">
    </div>
    <div class="description">
      {{ book.title }}
    </div>
  </div>

  <div class="list active item" ng-show="store.isActive(book.id)">
    <div class="image thumbnail">
      <img data-src="holder.js/120x150/random">
    </div>

    <div class="description">
      <p class="author">
        <strong>{{ book.title }}</strong><br/>
        von {{ book.author}}
      </p>

      <p class="isbn">
        {{ book.isbn }}
      </p>

      <p class="rating">
        {{ book.rating }}
      </p>
    </div>

    <div class="remove">
      <button type="button" class="btn btn-danger btn-xs" ng-click="store.removeBook(book)">
        <span class="glyphicon glyphicon-remove"></span> Entfernen
      </button>
    </div>
  </div>
</div>